<h4 class="title">Datos del Cliente</h4>
<div class="redBar"></div>
<h4 class="title"></h4>

<div style="text-align: center; position: relative;">
    <img src="/assets/download.png" alt="image">
    <h4 style="text-align: center; font-size: 25px;">{{cliente.perfil.nombre}}</h4>
    <h4 class="text">{{cliente.perfil.telefono}}</h4>
    <div class="bar"></div>
    <h4 class="text">{{cliente.perfil.correo}}</h4>
    <h4 class="text">{{cliente.perfil.direccion}}</h4>
    <h4 class="text">{{cliente.perfil.dni}}</h4>
    <h4 class="text">TSM {{cliente.tasa.monto}}%</h4>
    <h4 class="text">Linea de credito: {{cliente.credito}}</h4>
    <h4 class="text">2.5% por gasto de mantenimiento</h4>
</div>