<h4 class="title">Datos del Cliente</h4>
<div class="redBar"></div>
<h4 class="title"></h4>

<div style="text-align: center; position: relative">
  <img src="/assets/download.png" alt="image" />
  <h4 style="text-align: center; font-size: 25px">
    {{ cliente.perfil.nombre }}
  </h4>
  <h4 class="text">{{ cliente.perfil.telefono }}</h4>
  <div class="bar"></div>
  <h4 class="text">{{ cliente.perfil.correo }}</h4>
  <h4 class="text">{{ cliente.perfil.direccion }}</h4>
  <h4 class="text">{{ cliente.perfil.dni }}</h4>
  <h4 class="text">
    {{ tipoTasa[cliente.tasa.tipo] }}: T{{
      tipoTasaAbreviacion[cliente.tasa.tipo]
    }}{{ tipoPeriodo[cliente.tasa.periodo] }} {{ cliente.tasa.monto * 100 }}%
  </h4>
  <h4 class="text">Linea de credito: {{soles(cliente)}}{{ cliente.credito }}</h4>
  <h4 class="text">
    {{ cliente.mantenimiento * 100 }}% por gasto de mantenimiento
    {{ periodosMantenimiento[cliente.periodoMantenimiento] }}
  </h4>
</div>
