    <mat-card class="example-card" *ngFor="let cliente of dataSource">
    <table>
      <tr>
        <th style="width: auto; padding-right: 15px;">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{cliente.perfil.nombre}}</mat-card-title>
            <mat-card-subtitle style="white-space: nowrap">{{cliente.perfil.apellidoP}} {{cliente.perfil.apellidoM}}</mat-card-subtitle>
          </mat-card-header>
        </th>
        <th style="width: 100%">
          <mat-card-content>
            <p>
              Lleva 5 días de retraso en el pago del monto adeudado.
            </p>
          </mat-card-content>
        </th>
        <th style="padding-right: 15px">
          <mat-card-content>
            <p>
              04/11/20
            </p>
          </mat-card-content>
        </th>
        <th>
          <mat-card-actions>
            <button mat-button>VER CLIENTE</button>
          </mat-card-actions>
        </th>
      </tr>
    </table>
  </mat-card>
<!-- <p>example</p>
<mat-card class="example-card">
  <table>
    <tr>
      <th style="width: auto; padding-right: 15px;">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Nombre</mat-card-title>
          <mat-card-subtitle style="white-space: nowrap">ApellidoP ApellidoM</mat-card-subtitle>
        </mat-card-header>
      </th>
      <th style="width: 100%">
        <mat-card-content >
          <p>
          Lleva 5 días de retraso en el pago del monto adeudado. 
          </p>
        </mat-card-content>
      </th>
      <th style="padding-right: 15px">
        <mat-card-content>
          <p>
          04/11/20
          </p>
        </mat-card-content>
      </th>
      <th>
        <mat-card-actions>
          <button mat-button>VER CLIENTE</button>
        </mat-card-actions>
      </th>
    </tr>
  </table>
</mat-card> -->