.example-card {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1%;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }