<h4 class = "title">Iniciar Sesion para Clientes</h4>
<form action="action_page.php" method="post">
   
  
    <div class="container">
        <div>
           <label for="dni" style="color: rgb(50, 50, 50)"><b>DNI</b></label>
        </div>
        <div>
       <input type="text" placeholder="Enter DNI" name="dni" required [(ngModel)]="clienteDNI">
        </div>
        <div>
           <label for="codigo" style="color: rgb(50, 50, 50)"  ><b>Codigo de Negocio</b></label>
        </div>
        <div>
         <input type="text" placeholder="Enter Codigo de Negocio" name="codigo" required  [(ngModel)]="codigoNegocio">
        </div>
      
        <div>
            <button (click)="validateLogin()"type="submit">Ingresar</button>
        </div>
      
        <div>
           <label>
        <input type="checkbox" checked="checked" name="remember"> Recuerdate
      </label>
 
        </div>
      
    </div>
  
    
  </form>