<h1 class = "title">Iniciar Sesion Para Negocios</h1>
<form >
   
  
    <div class="container">
        <div>
           <label for="ruc"  style="color: rgb(50, 50, 50)"><b>RUC</b></label>
        </div>
        <div  >
       <input  type="number" placeholder="Enter RUC" name="ruc" required  [(ngModel)]="ruc">
        </div>

        <div>
           <label for="password" style="color: rgb(50, 50, 50)"><b>Password</b></label>
        </div>
        <div>
         <input type="password" placeholder="Enter Password" name="password" required [(ngModel)]="password">
        </div>
        <div [hidden]="valid">
         <p style="color: red; font-size: 20px;">{{error}}</p>
       </div>
        <div>
            <button (click)="validateLogin()" type="submit">
               <p [hidden] = "loading">Ingresar</p>
               <div [hidden] = "!loading" class="loader"></div>
            </button>
        </div>
      
        <div>
           <label>
        <input type="checkbox" checked="checked" name="remember"> Recuerdame
      </label>
 
        </div>
      
    </div>
 
  </form>