ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav {
  width: 100%;
  background-color: rgb(40, 108, 139);
  height: 50px;
  top: 0;
  z-index: 9;
  box-shadow: 0px 2px 4px #888888;
}
li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}
.bye {
  border-radius: 25px;
}
.active {
  background-color: rgb(53, 139, 179);
}
.not-active {
  background-color: rgb(40, 108, 139);
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(53, 139, 179);
  color: white;
  transition: all 0.2s;
}

.test {
  float: right;
  background-color: rgb(54, 54, 54);
  cursor: pointer;
}
.test :hover {
  float: right;
  background-color: rgb(95, 95, 95);
  cursor: pointer;
}
