<nav >
 <ul >
  <li><a routerLink="/">Home</a></li>
    <li [hidden] = "loggedInCliente ||loggedInNegocio"><a routerLink="/cliente-login">Cliente Login</a></li>
  <li  [hidden] = "loggedInCliente ||loggedInNegocio"><a routerLink="/negocio-login">Negocio Login</a></li>
  <li  [hidden] = "loggedInCliente ||loggedInNegocio"><a routerLink="/registrar-negocio">Registrar Negocio</a></li>

  <li [hidden] = "!loggedInNegocio"><a routerLink="/clientes">Clientes</a></li>
  <li [hidden] = "!loggedInNegocio"><a routerLink="/cuentas">Cuentas</a></li>
  <li [hidden] = "!loggedInNegocio"><a routerLink="/pagos-negocio">Pagos</a></li>
  <li [hidden] = "!loggedInNegocio"><a routerLink="/notificaciones">Notificaciones</a></li>

  <li [hidden] = "!loggedInCliente"><a routerLink="/pagos-cliente">Pagos</a></li>
  <li [hidden] = "!loggedInCliente"><a routerLink="/perfil">Perfil</a></li>
  <li [hidden] = "!loggedInCliente"><a routerLink="/notificaciones">Notificaciones</a></li>

  <li [hidden] = "!loggedInCliente && !loggedInNegocio" class="test"><a  (click)="signOut()">Salir</a></li>
</ul> 
</nav>


  <router-outlet ></router-outlet>




<div [hidden] = "true" class="footer"><p >An Arian Yturrizaga Production</p></div>
