/* Bordered form */

/* Set a style for all buttons */

.child1 {
  border-right: 1px solid black;

  float: left;
  margin-left: 5%;
  height: 80%;
  width: 55%;

  padding: 16px;
}
#but {
  height: 30px;
  margin-right: 3%;
  background-color: rgb(54, 54, 54);
  color: white;
  transition: all 0.3;
}
#but:hover {
  background-color: rgb(99, 99, 99);
}
.child2 {
  float: left;

  height: 70%;
  width: 35%;

  padding: 16px;
}
.child2 label {
}
/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.title {
  margin-left: 5%;
  margin-top: 2vh;
  color: rgb(50, 50, 50);
  font-size: 30px;
}
.mat-elevation-z8 {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.redBar {
  border-bottom: 2px solid rgb(40, 108, 139);
  margin-left: 5%;
  margin-right: 5%;
}
.red {
  color: red;
}
.green {
  color: green;
}
/* The "Forgot password" text */
span.psw {
  margin-right: 50%;
  float: right;
  padding-top: 16px;
}

table {
  width: 100%;
}

#lmfao2 {
  height: 30px;
  margin-left: 3%;
  background-color: darkslategrey;
  color: white;
  display: none;
  border-radius: 25px;
}
#lmfao:hover > #lmfao2 {
  display: inline;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 10%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
