/* Bordered form */
form {
  border: 0px solid #f1f1f1;
}
label {
  position: absolute;
  padding-top: 15px;
  font-size: 15px;
  letter-spacing: 2px;
}
p{
  margin-left: 40%;
}

* {
  box-sizing: border-box;
}
/* Full-width inputs */

/* Full-width inputs */
input[type="text"],
input[type="password"],
input[type="number"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid rgb(158, 158, 158);
  box-sizing: border-box;
  border-radius: 25px;
  outline: none;
  transition: all 0.4s;
  margin-left: 40%;
}
input:focus{
  border: 2px solid black;

}
input:focus{
  border: 2px solid black;

}
input::placeholder{
  transition: all 0.3s;
}
input:hover::placeholder{
  font-size: 17px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.child2 label{
  margin-left: 5%;
}
.child1 label{
  margin-left: 2%;
}
/* Set a style for all buttons */
button {
  background-color: rgb(50, 50, 50);
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50%;
  border-radius: 25px;
  transition: all 0.2s;
  margin-top: 2%;
  outline: none;
  margin-left: 40%;
}
.child1 {
  border-right: 1px solid black;
  
  float: left;
  margin-left: 5%;
  height: 70vh;
  width: 45%;
  
  padding: 16px;
}
.child1 *{
  margin-bottom:  2%;
}
.child2 {
  float: left;

  height: 100%;
  width: 45%;

  padding: 16px;
}

/* Add a hover effect for buttons */
button:hover {
  background-color: rgb(92, 92, 92);
}

.title {
  margin-left: 5%;
  margin-top: 2vh;
  color: rgb(50, 50, 50);
  font-size: 30px;
}
.title2 {
  margin-left: 5%;
  margin-top: 2vh;
  color: rgb(50, 50, 50);
  font-size: 25px;
}
.redBar {
  border-bottom: 2px solid rgb(40, 108, 139);
  margin-left: 5%;
  margin-right: 5%;
}

/* The "Forgot password" text */
span.psw {
  margin-right: 50%;
  float: right;
  padding-top: 16px;
}

.loader {
  margin: auto;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  margin-top: -5px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

mat-form-field {
  width: 30%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 25px;
  
  margin-left: 45%;
}

table {
  width: 100%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
mat-form-field {
  width: 40%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 25px;
  margin-left: 45%;

}