/* Bordered form */
form {
  border: 0px solid #f1f1f1;
}
label {
  position: absolute;
  padding-top: 15px;
  font-size: 15px;
  letter-spacing: 2px;
}
* {
  box-sizing: border-box;
}
/* Set a style for all buttons */
/* Full-width inputs */
input[type="text"],
input[type="password"],
input[type="checkbox"],
input[type="number"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  box-sizing: border-box;
  border-radius: 25px;
  outline: none;
  transition: all 0.4s;
  margin-left: 40%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

mat-form-field {
  width: 40%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 25px;
  margin-left: 45%;
  margin-top: 5%;
}
.child1 {
  border-right: 1px solid black;

  float: left;
  margin-left: 5%;
  height: 100%;
  width: 45%;

  padding: 16px;
}
.child2 {
  float: left;

  height: 100%;
  width: 45%;

  padding: 16px;
}
.child2 label {
}
/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
p{
  margin-left: 40%;
}

.title {
  margin-left: 5%;
  margin-top: 2vh;
  color: rgb(50, 50, 50);
  font-size: 30px;
}
.title2 {
  margin-left: 5%;
  margin-top: 2vh;
  color: rgb(50, 50, 50);
  font-size: 25px;
}
.redBar {
  border-bottom: 2px solid red;
  margin-left: 5%;
  margin-right: 5%;
}

/* The "Forgot password" text */
span.psw {
  margin-right: 50%;
  float: right;
  padding-top: 16px;
}

table {
  width: 100%;
}
button {
  background-color: rgb(50, 50, 50);
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50%;
  border-radius: 25px;
  transition: all 0.2s;
  margin-top: 2%;
  outline: none;
}

.text {
  margin-bottom: 1%;
  text-align: center;
  font-size: 20px;
}
.bar {
  width: 20%;
  margin: 0 auto;
  margin-bottom: 2%;
  position: relative;
  height: 2px;
  background-color: darkslategrey;
}
