<div style="margin-left: 5%; margin-right: 5%; display: flex">
  <h4 class="title">Clientes</h4>
  <button class="register" routerLink="/registrar-cliente" mat-raised-button>
    Registrar Cliente
  </button>
</div>
<div class="redBar"></div>
<h4 class="title"></h4>

<div class="mat-elevation-z8" [hidden]="!loading">
  <table mat-table [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="perfil.nombre">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let cliente">
        {{ cliente.perfil.nombre }} {{ cliente.perfil.apellidoP }}
        {{ cliente.perfil.apellidoM }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="perfil.dni">
      <th mat-header-cell *matHeaderCellDef>DNI</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.perfil.dni }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="perfil.direccion">
      <th mat-header-cell *matHeaderCellDef>Direccion</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.perfil.direccion }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="perfil.correo">
      <th mat-header-cell *matHeaderCellDef>Correo</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.perfil.correo }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button id="but" (click)="delete(row)" mat-raised-button>
          Borrar Cliente
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="cuentas">
      <th mat-header-cell *matHeaderCellDef>Modificar Cuenta</th>
      <td mat-cell *matCellDef="let row">
        <button id="but2" (click)="openModal(row)" mat-raised-button>
          Modificar Datos
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [hidden]="!loading"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
<div class="loader" [hidden]="loading"></div>

<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span (click)="closeModal()" class="close">&times;</span>
    <h1 style="top: -100px; font-size: 30px">
      Editar datos de: {{ selectedCliente.perfil.nombre }}
      {{ selectedCliente.perfil.apellidoP }}
      {{ selectedCliente.perfil.apellidoM }}
    </h1>
    <label style="font-size: 20px" class="input">Nuevo Nombre:</label>
    <input
      type="text"
      placeholder="{{ selectedCliente.perfil.nombre }}"
      class="input"
      [(ngModel)]="credito"
    />
    <p [hidden]="!errores.credito[1]" style="color: red">
      {{ errores.credito[0] }}
    </p>
    <label style="font-size: 20px" class="input">Nueva Direccion:</label>
    <input
      type="text"
      placeholder="{{ selectedCliente.perfil.direccion }} %"
      class="input"
      [(ngModel)]="tasaMonto"
    />
    <p [hidden]="!errores.montoTasa[1]" style="color: red">
      {{ errores.montoTasa[0] }}
    </p>
    <label style="font-size: 20px" class="input">Nuevo Correo:</label>
    <input
      type="text"
      placeholder="{{ selectedCliente.perfil.correo }} %"
      class="input"
      [(ngModel)]="tasaMonto"
    />
    <p [hidden]="!errores.montoTasa[1]" style="color: red">
      {{ errores.montoTasa[0] }}
    </p>

    <button class="registerNew" (click)="guardarCambios()">
      Guardar cambios!
    </button>
  </div>
</div>
