<h1>Bienvenido.</h1>
<div class="container2" >
     <div id="child3" class="child3">  
          <div class="child1">
          
          <h1 style="color:black;margin-top: 13%; letter-spacing: 2px; font-size: 50px; margin-bottom: 10%;">Negocios</h1>
          <button class="btn first" routerLink="/negocio-login">Negocio Login</button>
         <br/> 
         <h3 style="color:black;">No esta registrado?</h3>
         <button class="btn first" routerLink="/registrar-negocio">Registrar Negocio</button>
      </div>
     </div>
   

     <div class="child2"> <div class="child1">
          
          <h1 style="color:black;margin-top: 13%; letter-spacing: 2 px; font-size: 50px; margin-bottom: 10%;">Clientes</h1>
          <button routerLink="/cliente-login" class="btn first">Cliente Login</button>
         <br/> 
         <h3 style="color:black;margin: auto;width: 250px;">No esta registrado? Consulte a un negocio registrado para poder usar el servicio.</h3>
         
      </div>
      </div>

</div>
